image: idmslinux/rolling

# Stages we need to progress through
stages:
  - test

test_job:
  stage: test
  script:
  # Create environment
  - pacman -Syu --noconfirm
  - pacman -S --noconfirm grep python
  - pacman -S --noconfirm python-pytest python-pytest-runner python-pytest-cov python-pylint python-isort mypy pylama python-mccabe
  - pacman -S --noconfirm iproute2 bird exabgp
  # Run tests
  - python setup.py test
  # Artifacts
  artifacts:
    expire_in: 1 day
    paths:
    - build/


